body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: rgb(51, 51, 51);
    margin-top: 100;
    margin-bottom: 0;
    margin-left: 15px;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-size: 50px;
    color: rgb(51, 51, 51);
    
}
.ms-2022{
    color: #FFAD5A;
    font-size: 60px;
}
.fakibaj{
    font-size: 30px;
    font-weight: 700;
    color: #FF5959;
}
p{
    text-align: justify;
}
.top-banner{
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;  
}
.button{
    text-decoration: none;
    background-image: linear-gradient(to right, #FF5959, salmon);
    color: white;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 4px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 50%;
    padding-left: 30%;
}
.yellow-color{
    color: #FFAD5A;
}
.mission-sections{
    text-align: center;
}
.mission-item-1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px #4F9DA6;
    background-color: #a6bfc2;
    border-radius: 20px;
}
.mission-item-2{
    width: 40%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    background-color: rgb(189, 179, 179);
    border-radius: 20px;
}
.mission-item-3{
    width: 40%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px #dbc484;
    background-color: #FFF4D6;
    border-radius: 20px;
}
.mission-item-1 img{
    max-width: 100%;
    height: auto;
}
.mission-item-2 img{
    max-width: 100%;
    height: auto;
}
.mission-item-3 img{
    max-width: 100%;
    height: auto;
}
 
.h2-self-dev{
    margin-top: 0;
    margin-bottom: 0;
}
.background-image-1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    max-width: 100%;
    height: auto;
}
.background-image-2{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: right;
    max-width: 100%;
    height: auto;
}
nav{
    flex: 1;
    text-align: center;
    margin-bottom: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 17px;
    font-weight: 600;
}
nav ul li a:hover{
    color: #FFAD5A;
}
footer p{
    background-color: black;
    margin: 0;
    padding: 12px;
    text-align: center;
    font-weight: 10;
    color: white;
}
.footer-h3{
    color: #FF5959;
}
.footer-size{
    font-size: 40px;
}
#title-border{
    border-left: 7px solid;
    border-image: linear-gradient(#FF5959, orange);
    border-image-slice: 1; 
}
.top-banner{
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;  
}